
{% block title %}
    Service Payment | LeisureInn
{% endblock title %}
    

{% block content %}
    <form>
        <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
        <button type="button" onClick="payWithRave()">Pay Now</button>
    </form>

    <script>
        // const API_publicKey = "FLWPUBK-24b72aebb821aea177483039677df9d3-X";

        const PBFPubKey = "{{publicAPIKey}}";
        const customer_email = "{{customer_email}}";
        const amount = "{{amount}}";
        const customer_phone = "{{customer_phone}}";
        const txref = "{{tx_ref}}";
        const payment_plan = "{{payment_plan_id}}";
        const metaname = "{{metaname}}";
        const metavalue = "{{metavalue}}";


        function payWithRave() {
            var x = getpaidSetup({
                PBFPubKey: PBFPubKey,
                customer_email: customer_email,
                amount: amount,
                customer_phone: customer_phone,
                currency: "NGN",
                payment_method: "both",
                txref: txref,
                payment_plan: payment_plan,
                meta: [{
                    metaname: metaname,
                    metavalue: metavalue
                }],
                onclose: function() {},
                callback: function(response) {
                    var txref = response.data.txRef; // collect flwRef returned and pass to a                   server page to complete status check.
                    console.log("This is the response returned after a charge", response);
                    if (
                        response.data.chargeResponseCode == "00" ||
                        response.data.chargeResponseCode == "0"
                    ) {
                        // redirect to a success page
                        window.location.href = " {% url 'hotel_services:subscription_payment_successful' id %} ";
                    } else {
                        // redirect to a failure page.
                    }

                    x.close(); // use this to close the modal immediately after payment.
                }
            });
        }
    </script>
{% endblock content %}
    