[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.4"
psycopg2-binary = "*"
pillow = "*"
django-crispy-forms = "*"
django-bootstrap-datepicker-plus = "*"
django-bootstrap4 = "*"
celery = "*"
flower = "*"
django-allauth = "*"
pinax-messages = "*"
channels = "*"
channels-redis = "*"
django-webpush = "*"
requests = "*"
pylint = "*"
django-environ = "*"
twisted = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
