{% extends 'base.html' %}

<!-- loading static url -->
{% load static %}
<!-- loading crispy form -->
{% load crispy_forms_tags %}
<!-- loading embedded bootstrap -->
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!-- adding date picker to form -->
{{form.media}}

{% block title %}
    Home | Leisure Inn
{% endblock title %}



{% block content %}
    <section class="container tm-home-section-1" id="more">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <!-- Nav tabs -->
                <div class="tm-home-box-1">
                    <ul class="nav nav-tabs tm-white-bg" role="tablist" id="hotelCarTabs">
                        <li role="presentation" class="active">
                            <a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">Hotel</a>
                        </li>
                        
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
                            <div class="tm-search-box effect2">

                                <form action="" method="post" class="hotel-search-form">
                                    {% csrf_token %}
                                    <div  class="tm-form-inner">
                                        {{form|crispy}}
                                    </div>
                                    <div class="form-group tm-yellow-gradient-bg text-center">
                                        <button type="submit"  class="tm-yellow-btn">Check Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>								
            </div>

            
        </div>

        <div class="section-margin-top">
            <div class="row">				
                <div class="tm-section-header">
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Featured Rooms</h2></div>
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
                </div>
            </div>
            <div class="row">
                
                {% for room in featured_rooms %}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="tm-tours-box-1">
                                <img src=" {{room.room_picture.url}} " alt="image" class="img-responsive">
                                <div class="tm-tours-box-1-info">
                                    <div class="tm-tours-box-1-info-left">
                                        <p class="text-uppercase margin-bottom-20">{{room.room_type}}</p>	
                                        <p class="gray-text">ROOM {{room.room_number}} </p>
                                    </div>
                                    <div class="tm-tours-box-1-info-right">
                                        <p class="gray-text tours-1-description">
                                            <b>Amenities</b>
                                            <ul>
                                                <li>{{room.amenities_type.first_item}}</li>
                                                <li>{{room.amenities_type.second_item}}</li>
                                                <li>{{room.amenities_type.third_item}}</li>
                                                <li>{{room.amenities_type.fourth_item}}</li>
                                                <li>{{room.amenities_type.fifth_item}}</li>
                                            </ul>

                                        </p>	
                                    </div>							
                                </div>
                                <div class="tm-tours-box-1-link">
                                    <div class="tm-tours-box-1-link-left">
                                        NGN{{room.room_price}} / night
                                    </div>
                                    <a href="#" class="tm-tours-box-1-link-right">
                                    <!-- BOOK -->
                                    </a>							
                                </div>
                            </div>					
                        </div>
                {% endfor %}
            </div>		
        </div>
    </section>		

{% endblock content %}
    